{
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "src/**/*.md",
      "options": {
        "parser": "html",
        "printWidth": 200
      }
    }
  ]
}
